<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CouponWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />




    </head>
<body>
    <header>

    </header>
    <div class="container_">
        <main role="main" class="pb-3">
            @RenderBody()
                    <environment names="Development">
                        @RenderSection("devCss", required: false)
                    </environment>
  

                    <environment names="Development">
                        @RenderSection("devJs", required: false)
                    </environment>

    
            </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CouponWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/e8feda7bbf.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
